body {
  background-image: url("../Graphics/background v3.png");
  background-color: Blue;
  background-color: #999999;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
  font-size: 1.5vw;
  //overflow:hidden;
}

.par{
  font-size: 1.5vw;
}

.footer {
  font: courier;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00b286;
  color: white;
  text-align: center;
}

.backgroundPalms {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.NameLogo{
  width: 45%;
  margin-left: 23%;
}

.CSCE445 {
  width: 5%;
}

.MainBox {

  background-color: #1a1e21;
  border-radius: 5px;
  box-shadow: 0 10px 40px #00b286, 0 0 0 3px #00b286;

  width: 75%;
  margin-left: 10%;
  float: left;
  margin-top: 2% ;

}

.personalPhoto {
  width: 25%;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;

  border-radius: 5px;
  box-shadow: 0 5px 10px #00b286, 0 0 0 3px #00b286;
  float:left;
}

.photoText {
  margin-left: 3%;
  margin-top: 3%;
  float:left;
}

.consumptionText {
  font-size: 2vw;
  text-decoration: underline;
  margin-left: 5%;
  margin-top: 3%;
}

.mediaList {
  margin-left: 5%;
}

.mediaLinks {
 margin-left: 38%;

}

.socialLink {
  width:7%;
  z-index: 6;
}

.assignmentLabel{
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin-left: 30px; */
}
.paragraphSpacing{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 14pt;
}

.hitcounterText {
  font-size: 10pt;
}
